GW2017EE/WebServiceDemo/WebContent/wsdl/Register.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://auribises.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://auribises.com" xmlns:intf="http://auribises.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://auribises.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="registerUser">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerUserResponse">
    <complexType>
     <sequence>
      <element name="registerUserReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="INRToDollars">
    <complexType>
     <sequence>
      <element name="inr" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="INRToDollarsResponse">
    <complexType>
     <sequence>
      <element name="INRToDollarsReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getWearther">
    <complexType>
     <sequence>
      <element name="city" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getWeartherResponse">
    <complexType>
     <sequence>
      <element name="getWeartherReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="INRToDollarsRequest">

      <wsdl:part element="impl:INRToDollars" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getWeartherResponse">

      <wsdl:part element="impl:getWeartherResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerUserRequest">

      <wsdl:part element="impl:registerUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getWeartherRequest">

      <wsdl:part element="impl:getWearther" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerUserResponse">

      <wsdl:part element="impl:registerUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="INRToDollarsResponse">

      <wsdl:part element="impl:INRToDollarsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Register">

      <wsdl:operation name="registerUser">

         <wsdl:input message="impl:registerUserRequest" name="registerUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerUserResponse" name="registerUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="INRToDollars">

         <wsdl:input message="impl:INRToDollarsRequest" name="INRToDollarsRequest">

       </wsdl:input>

         <wsdl:output message="impl:INRToDollarsResponse" name="INRToDollarsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getWearther">

         <wsdl:input message="impl:getWeartherRequest" name="getWeartherRequest">

       </wsdl:input>

         <wsdl:output message="impl:getWeartherResponse" name="getWeartherResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RegisterSoapBinding" type="impl:Register">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="registerUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="INRToDollars">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="INRToDollarsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="INRToDollarsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getWearther">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWeartherRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getWeartherResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RegisterService">

      <wsdl:port binding="impl:RegisterSoapBinding" name="Register">

         <wsdlsoap:address location="http://localhost:8080/WebServiceDemo/services/Register"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
